{% extends 'base.html' %}

{% block title %}
  About Page
{% endblock title %}

{% block content %}
<h1 class='title'>About Me</h1>

<p>Hey everyone, thank you for taking time to visit my page. A little about me.... I have recently stepped into to field of Web Development and so far it has been an interesting and intriguing journey. Although I am new to the field of technolgy my accomplishments may be minor but the foundation that I have laid before is one that is strong and I will be built upon as I gain further experience. My latest goal completed was graduating from Tech.IS Web Development Bootcamp, earning my 'Full-Stack Developer' certification.</p>

<p>While enrolled Iearned technologies and concepts that I have never thought I would be able to but with a great support team I was able to figure out the core concepts needed to succeed n this lucrative field.</p>
{% endblock content %}